$yellow:#3f23e0;

@mixin margenes($top,$bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    
}

.jumbotron {
    background-color:$yellow;
    color: black;
    @include margenes(50px,10px )
}

footer {
    padding: 10px 10px 10px 10px;
    background-color:$yellow;
    margin-bottom: 0px;
    margin-top: 10px;
    @include margenes(10px,0px );
}

.btn {
    background-color: green;
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px,0px );


}

.btn-reserva {
    width: 100%;
    border-radius: 0px;

}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}

.carousel-inner {
    padding-top: 10px;
}