.jumbotron {
  background-color: #e91b93;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px;
}

footer {
  padding: 10px 10px 10px 10px;
  background-color: #3f23e0;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn {
  background-color: green;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

.carousel-inner {
  padding-top: 10px;
}

/*# sourceMappingURL=styles.ef9eedae60f142002902.css.map */
